/* Platform */
@font-face {
  font-family: 'montserratregular';
  src: url("/Content/fonts/montserrat-regular-webfont.eot");
  src: url("/Content/fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/montserrat-regular-webfont.woff2") format("woff2"), url("/Content/fonts/montserrat-regular-webfont.woff") format("woff"), url("/Content/fonts/montserrat-regular-webfont.ttf") format("truetype"), url("/Content/fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'montserratbold';
  src: url("/Content/fonts/montserrat-bold-webfont.eot");
  src: url("/Content/fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/Content/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("/Content/fonts/montserrat-bold-webfont.woff") format("woff"), url("/Content/fonts/montserrat-bold-webfont.ttf") format("truetype"), url("/Content/fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: montserratregular; }

h1 {
  font-size: 36px; }

#hello {
  padding-top: 50px;
  text-align: center; }

/* Pages */

/*# sourceMappingURL=style.css.map */
